html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: content-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    color: var(--color-dark-gray);
}

table {
    width: 100%;
    font-size: .9rem;
    border-collapse: collapse;

    & th {
        cursor: pointer;
        padding: .6rem .1rem;
        border-bottom: 1px solid var(--color-dark-gray);
        position: relative;
    }

    & th:focus {
        outline: none;
    }

    & th.sort-asc,  & th.sort-desc {
        color: var(--color-bright-blue);
        border-bottom: 4px solid var(--color-bright-blue);
    }

    
    & td {
        border-bottom: 1px solid var(--color-light-gray);
        padding: .1rem .1rem;
        text-align: center;
        min-width: 2rem;
    }

    & td span.good,  & td span.poor {
        display: inline-block;
        min-width: 1.5rem;
        padding: .4rem;
        margin: -.4rem;
    }

    & td span.good {
        background: var(--color-light-green);
        border: 1px solid var(--color-green);
    }

    & td span.poor {
        background: var(--color-light-red);
    }

    & th:nth-child(2) {
        text-align: left;
    }

    & td:nth-child(2) {
        font-weight: 400;
        min-width: 7rem;
        padding: 1rem .2rem;
        text-align: left;
        color: var(--color-blue);
    }

    & td:nth-child(8),
    & td:nth-child(11) {
        border-right: 1px solid var(--color-subtle-gray);
    }
    
}

.team-content, .team-info {
    width: 100%;
    display: flex;
    justify-content: center;
}

.team-info {
    background: var(--color-gray-blue);

    & .logo {
        transform: rotateY(-90deg) translateZ(-4rem);
        opacity: 0; 
    }

    & .rank-stat {
        transform: rotateX(90deg) translateZ(-4rem);
        opacity: 0; 
    }
}

.team-info.loaded {
    & .logo, & .rank-stat {
        transition: opacity var(--transition-time) ease-out;
        transform-style: preserve-3d;
        transition: var(--transition-time);
        opacity: 1; 
    }

    & .logo {
        transform: rotateY(0deg) translateZ(0rem);
    }

    & .rank-stat {
        transform: rotateX(0deg) translateZ(-4rem);

        &:nth-child(2) {
            transition-delay: .05s;
        }
        &:nth-child(3) {
            transition-delay: .1s;
        }
        &:nth-child(4) {
            transition-delay: .15s;
        }
    }
}

.team-details {
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    max-width: 58rem;
    min-height: 8rem;
    margin: 1rem 2rem 0;
    padding: 1rem;
    justify-content: space-between;

    & .details {
        display: flex;
        max-height: 9.5rem;
        min-width: 12rem;
        margin-right: 1rem;
        width: 100%;
        justify-content: center;
    }

    & img {
        width: 5rem;
        margin-top: 1rem;
    }

    & .team-name {
        color: var(--color-light-gray);
        font-size: 1.6rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;

        & .name .dropdown {
            display: flex;
            align-items: center;

             & .dropdown-list {
                background: var(--color-gray-blue);
                min-width: 12rem;
                height: 15rem;
                overflow: hidden;
                overflow-y: scroll;
                left: -1rem;
                -webkit-overflow-scrolling: touch;
             }

             & li {
                line-height: 2rem;
             }
        }

        & span {
            line-height: 2.4rem;
        }

        & span.label {
            font-weight: 500;
            font-size: 2.6rem;
            text-transform: uppercase;
            color: var(--color-white);
        }

        & span.label.large {
            font-size: 3vw;
            line-height: 3.5vw;
        }

        & .record {
            font-size: 1rem;
            margin-top: .5rem;
        }
    }

    & .rankings {
        min-width: 26%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: .5rem 2rem;
    }

    & .rankings.row {
        flex-direction: row;
        align-items: center;
    }
}

.rank-stat {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
    align-items: center;
    margin: 0 .3vw;
    /*transition: opacity .6s ease-in;
    transform-style: preserve-3d;
    transition: 0.3s;*/

    & span:nth-child(1){
        color: var(--color-white);
        font-size: 1.8rem;
        display: block;
        text-align: center;
        margin-bottom: .4rem;
    }

    & span:nth-child(2){
        border-radius:.3rem;
        margin: .2rem;
        padding: 0rem 0.4rem;
        font-size: .8rem;
        color: black;
        font-weight: bold;
        text-align: center;
    }

    & .label {
        color: var(--color-light-gray);
        font-size: .8rem;
        margin-bottom: .3rem;
        min-width: 3.7rem;
        text-align: center;
    }
}

/*.team-info.loading .rank-stat {
    transform: rotateX(90deg) translateZ(-4rem);
    opacity: 0; 
}

.team-info.loaded .rank-stat {
    transform: rotateX(0) translateZ(0);
    opacity: 1; 
}*/

.player { 
    opacity: 0; 
    transition: opacity var(--transition-time-long) ease;
}
.player.loaded { 
    opacity: 1; 
}

.react-bootstrap-table {
    width: 100%;
}

.roster-stats {
    width: 100%;
    max-width: 60rem;
    flex: 0 1 auto;
    margin: 0 2rem;

    & img{
        width: 2rem;
        border-radius: 50%;
    }
}

.dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;

    & .dropdown-list {
        position: absolute;
        list-style: none;
        padding: 1rem 0;
        bottom: -19rem;
    }

    & li {
        font-size: 1rem;
        text-transform: capitalize;
        line-height: 1rem;
        padding: .1rem 1rem;
    }

    & li:hover {
        background: var(--color-gray-blue-light);
    }
}

.caret.closed {
    width: 0; 
    height: 0; 
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent; 
    border-top: .4rem solid var(--color-white);
    margin: 0 0 0 .4rem;
}

.caret.open {
    width: 0; 
    height: 0; 
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent; 
    border-bottom: .4rem solid var(--color-white);
    margin: 0 0 0 .4rem;
}

.dropdown-list.closed{
    display: none;
}

.dropdown-list.open{
    display: block;
}

/*constrain max font size of the team name*/
@media only screen 
  and (min-width: 1400px)  {
    .team-details .team-name span.label.large {
        font-size: 2.6rem;
        line-height: 3rem;
    }
}