html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: content-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    color: var(--color-dark-gray);
}

table {
    width: 100%;
    font-size: .9rem;
    border-collapse: collapse;

    & th {
        cursor: pointer;
        padding: .6rem .1rem;
        border-bottom: 1px solid var(--color-dark-gray);
        position: relative;
    }

    & th:focus {
        outline: none;
    }

    & th.sort-asc,  & th.sort-desc {
        border-bottom: 4px solid var(--color-dark-gray);
    }

    
    & td {
        border-bottom: 1px solid var(--color-light-gray);
        padding: .1rem .1rem;
        text-align: center;
        min-width: 2rem;
    }

    & td span.good,  & td span.poor {
        display: inline-block;
        min-width: 1.5rem;
        padding: .4rem;
        margin: -.4rem;
    }

    & td span.good {
        background: var(--color-light-green);
    }

    & td span.poor {
        background: var(--color-light-red);
    }

    & th:nth-child(2) {
        text-align: left;
    }

    & td:nth-child(2) {
        font-weight: 400;
        min-width: 7rem;
        padding: 1rem .2rem;
        text-align: left;
        color: var(--color-blue);
    }

    & td:nth-child(8),
    & td:nth-child(11) {
        border-right: 1px solid var(--color-subtle-gray);
    }
    
}

.team-content, .team-info {
    width: 100%;
    display: flex;
    justify-content: center;
}

.team-info {
    background: var(--color-gray-blue);
}

.team-details {
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    max-width: 58rem;
    min-height: 8rem;
    margin: 1rem 2rem;
    padding: 1rem;

    & img {
        width: 5rem;
        margin-top: 1rem;
    }

    & .team-name {
        color: var(--color-light-gray);
        font-size: 1.6rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;

        & span {
            display: block;
            line-height: 2.4rem;
        }

        & span:nth-child(2) {
            font-weight: 500;
            font-size: 3rem;
            text-transform: uppercase;
            color: var(--color-white);
        }

        & .record {
            font-size: 1rem;
            margin-top: .5rem;
        }
    }
}

.react-bootstrap-table {
    width: 100%;
}

.roster-stats {
    width: 100%;
    max-width: 60rem;
    flex: 0 1 auto;
    margin: 0 2rem;

    & img{
        width: 2rem;
        border-radius: 50%;
    }
}


/* Smartphones */
@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .roster-stats{
        position: relative;
        width:100%;
        z-index: 1;
        margin: auto;
        overflow: auto;
    }
    
    table {
        & th, & td {
            padding: .5rem 1rem;
            min-width: 1.5rem;
        }

        & th:nth-child(1),
        & th:nth-child(2),
        & td:nth-child(1),
        & td:nth-child(2)
        {
            background: var(--color-white);
            position: sticky;
            left: 0;
            z-index: 2;
        }

        & th:nth-child(2), & td:nth-child(2) {
            //border-right: 1px solid var(--color-black);
        }
    }
}

/* Tablets */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
 
}