/* Smartphones */
@media only screen 
  and (min-width: 0px) 
  and (max-width: 760px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .roster-stats{
        position: relative;
        width:100%;
        margin: auto;
        overflow: auto;
    }
    
    table {
        & th, & td {
            padding: .8rem 1rem;
            min-width: 1.5rem;
            z-index: -1;
        }

        & th:nth-child(1),
        & th:nth-child(2),
        & td:nth-child(1),
        & td:nth-child(2)
        {
            background: var(--color-white);
            position: sticky;
            left: 0;
            z-index: 0;
        }
    }

    .team-details {
        flex-wrap: wrap;

        & .rankings {
            width: 90%;
            margin: 1rem 0;
        }

        & .rankings.row {
            width: 100%;
        }

        & img {
            width: 7rem;
        }

        & .team-name span.label.large {
            font-size: 2.6rem;
            line-height: 3rem;
        }
    }

    .players-toggle {
        border-bottom: 2px solid var(--color-light-gray);

        & button {
            padding: .8rem 1rem;
            margin-top: .4rem;
            width: 50%;
            border-bottom: 4px solid transparent;
        }

        & button.active {
            background: var(--color-gray-blue);
            color: var(--color-white);
            font-size: 1rem;
            border-bottom: 4px solid var(--color-white);
        }
    }

    .team-details .team-name .name .dropdown {
        & button {
            background: var(--color-subtle-gray);
            border: 0;
            color: var(--color-gray-blue);
            font-size: 1.3rem;
            font-weight: 500;
            padding: .4rem 1rem;
        }

        & ul.dropdown-list {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            padding-top: 2rem;
            margin: 0;

            & li {
                padding: 1rem 3rem;
                font-size: 1.4rem;
                color: var(--color-white);
            }

            & .close {
                display: block;
                position: fixed;
                top: 1rem;
                right: 1rem;
                padding: 0;
            }
        }
    }
}


@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 760px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .team-details{
        & .details {
            width: 100%;
            justify-content: center;
        }

        & img {
            width: 9rem;
        }
    }
  }