.players-toggle {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--color-gray-blue);

    & .toggle {
        display: flex;
        flex: 0 1 auto;
        width: 100%;
        max-width: 58rem;
    }

    & button {
        color: var(--color-light-gray);
        background: transparent;
        border: 0;
        padding:.5rem 1rem;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 1rem;
        cursor: pointer;
        outline: none;
    }

    & button.active {
        color: var(--color-white);
        font-weight: bold;
    }
}