html, body {
    --color-black: #000000;
    --color-dark-gray: #545454;
    --color-light-gray: #cccccc;
    --color-subtle-gray: #e7e7e7;
    --color-white: #ffffff;

    --color-light-green: #def5d9;
    --color-light-red: #f5ceca;
    --color-green: #28d200;
    --color-orange: #E0853A;
    --color-red: #ff5100;

    --color-blue: #008ed4;
    --color-subtle-blue: #80D7FF;
    --color-bright-blue: #0089ff;
    --color-gray-blue: #152238;
    --color-gray-blue-light: #304364;

    --transition-time: .3s;
    --transition-time-long: 1s;

}