

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: content-box;
}

.team {
    width: 100%;
    display: flex;
    justify-content: center;
}

.roster-stats {
    max-width: 50rem;
    flex: 0 1 auto;
}

.roster-stats img{
    width: 3rem;
    border-radius: 50%;
}

table {
    width: 100%;
    font-size: .9rem;
}

th {
    text-align: left;
    padding: .5rem;
}

td {
    padding: .5rem;
}


/* Smartphones */
@media only screen and (min-device-width : 320px; and (max-device-width : 480px) {

}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}
    